<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Keto On The Go</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/e69fcd5fbe.js" crossorigin="anonymous"></script>
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">        
        <!-- CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">

    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand raleway" href="/"><i class="fas fa-drumstick-bite"></i><i class="fas fa-egg"></i>&nbspKeto On The Go&nbsp<i class="fas fa-cheese"></i><i class="fas fa-bacon"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link raleway" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locations</a>
                        <div class="dropdown-menu">
                            <a class="nav-link raleway dropdown-item" href="/locations">View All</a>
                            <a class="nav-link raleway dropdown-item" href="/locations/new">Add New</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link raleway" href="/keto-options">Keto Options <span class="sr-only">(current)</span></a>
                    </li>    
                </ul>
                <ul class="navbar-nav navbar-right">
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link raleway"></a>
                    </li> -->
                    <% if (!currentUser) { %>
                        <li class="nav-item">
                            <a class="nav-link raleway" href="/signin">Sign In <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link raleway" href="/signup">Sign Up</a>
                        </li> 
                    <% } else { %>
                        <li class="nav-item">
                            <a href="#" class="nav-link raleway">Signed In As <%= currentUser.username %></a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link raleway" href="/signout">Sign Out</a>
                        </li>
                    <% } %>      
                </ul>
            </div>
        </nav>


        <!-- success alert message -->
        <% if (success && success.length > 0) { %>
        <div class="container">
            <div class="alert alert-success raleway" role="alert">
                <%= success %>
            </div>              
        </div>
        <% } %>
        <!-- success alert message end -->

        <!-- error alert messge  -->
        <% if (error && error.length > 0) { %>
            <div class="container">
                <div class="alert alert-danger raleway" role="alert">
                    <%= error %>
                </div>
            </div>
        <% } %>
                

        <!-- error alert message end -->

