<%- include ('./partials/header') -%>

<div class="container w-75 mt-5">
    <h3 class="raleway font-weight-bold mb-3">Sign In</h3>
    <form action="/signin" method="POST">
            <div class="form-group">
                <label class="raleway" for="">Username</label>
                <input class="form-control form-control-sm" type="text" name="username">      
            </div>
            <div class="form-group">
                <label class="raleway" for="">Password</label>
                <input class="form-control form-control-sm" type="password" name="password" >
            </div>
            <button class="btn btn-md btn-default btn-block btn-dark mt-4">
                    Submit
            </button>
        
    </form>
</div>

<%- include ('./partials/footer') -%>
