<%- include ('../partials/header') -%>

<div class="container w-75 mt-5">
    <h3 class="raleway font-weight-bold mb-3">
        Add Keto Option
    </h3>

    <form action="/locations/<%= location._id %>/keto-options" method="POST">
            <div class="form-group">
                <label class="raleway" for="inputEmail4">Name *</label>
                <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Name"
                    name="ketoOption[name]"
                    required
                />
            </div>           

            <div class="form-group">
                <label for="">Description *</label>
                <textarea
                    class="form-control form-control-sm"
                    cols="55"
                    rows="3"
                    placeholder="Describe the keto option"
                    name="ketoOption[description]"
                    required
                ></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="">Image *</label>
                    <input 
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="Image URL"
                        name="ketoOption[image]"
                        required
                    />
                </div>
    
                <div class="form-group col-md-2">
                    <label for="">Price</label>
                    <input 
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="$"
                        name="ketoOption[price]"
                    />
                </div>
                <div class="form-group col-md-2">
                    <label for="">Carbs</label>
                    <input 
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="# of total carbs"
                        name="ketoOption[carbs]"
                    />
                </div>
    
            </div>

        <div class="form-group">
            <button class="btn btn-md btn-default btn-block btn-dark mt-4">
                Submit
            </button>
        </div>
    </form>
    <a class="font-weight-bold" href="/locations">Back</a>
</div>
      



<%- include ('../partials/footer') -%>
