body {
    padding-top: 5%;
}

#new-location-form {
    width: 80%;
    margin-top: 2%;
}

.type-kids {
    font-size: .75em;
}

.web-links {
    font-size: .95em;
}

.delete-form {
    display: inline;
}

.link-list {
    list-style-type: none;
    margin-right: 4%;
}

.info-list p{
    margin: 0px;
}

.list-group-item {
    padding: .3rem .5rem;
    font-size: .95rem;
    border-color: lightgrey;
    box-shadow: 5px 10px 5px lightgrey;

}

.fa-yelp {
    color: red;
}

a {
    color: black;
}

.info-icons {
    margin-right: 10px;
}

.list-group-item,i,p,address {
    display: inline;
}

#city-state-zip {
    margin-left: 26px;
}

.list-group {
    margin-bottom: 5%;
}



