body {
    padding-top: 7%;
    padding-bottom: 5%;
    font-family: 'Roboto Slab', serif;
}

.raleway, h1 {
    font-family: 'Raleway', sans-serif;
}


#new-location-form {
    width: 80%;
    margin-top: 2%;
}

.type-kids-open {
    font-size: .75em;
}

.web-links {
    font-size: .90em;
}

.delete-form {
    display: inline;
}

.link-list {
    list-style-type: none;
    margin-right: 4%;
}

.info-list p{
    margin: 0px;
}

.list-group-item {
    padding: .3rem .5rem;
    font-size: .85rem;
    /* box-shadow: 5px 10px 5px lightgrey; */

}

.fa-yelp {
    color: red;
}

a {
    color: black;
}

.info-links-icons {
    margin-right: 10px;
}

.list-group-item,i,p,address {
    display: inline;
}

#city-state-zip {
    margin-left: 26px;
}

.list-group {
    margin-bottom: 5%;
}

.hrs-kids {
    margin-left: 50px;
}

.show-img {
    margin-bottom: 2%;
}

.form-control:focus {
    border-color: rgb(0, 102, 255);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba( 0, 102, 255);
  }

  strong {
      font-weight: bold;
  }

  .comments-form {
      width: 50%;
      margin-top: 5%;
  }

