body {
    padding-top: 5%;
}

#new-location-form {
    width: 80%;
    margin-top: 2%;
}

h3, #restaurant-type {
    display: inline;
}

.delete-form {
    display: inline;
}

.link-list {
    list-style-type: none;

    margin-right: 4%;
}



.fa-yelp {
    color: red;
}

a {
    color: black;
}




